body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: maroon;
}

h1 {
    color: goldenrod;
    font-family: Chalkduster, fantasy;
    font-size: xx-large;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    flex: 1;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    background-color: grey;
}


.grid-cell.hovered {
    background-color: black;
}