#gridContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    flex: 1;
    border: 1px solid lightgray;
    box-sizing: border-box;
}