@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: normal;
    src: local('Luminari'), url('../fonts/Luminari-Regular.woff') format('woff');
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-bottom: 8vw;
    background-color: maroon;
}

h1 {
    padding: 1vw;
}

button {
    max-height: 2.5vw;
    background-color: brown;
    border: 0;
    padding: 0.5vw 1vw;
    color: goldenrod;
    font-family: "Luminari", cursive;
    font-size: large;
    border-radius: 10px;
}

button:active {
  background-color: brown;
  transform: translateY(px);
}

.header {
    display: flex;
    margin: 1vw 2vw;
    color: goldenrod;
    font-family: "Luminari", cursive;
    font-size: xx-large;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vw;
    border: 1px solid black;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
}

.grid-cell {
    flex: 1;
    flex-grow: 1;
    border: 0;
    box-sizing: border-box;
    background-color: grey;
}


.grid-cell.hovered {
    background-color: black;
}